commonmark==0.9.1
python-dotenv==0.21.1
PyYAML==6.0.2
setuptools==75.8.2
sniffio==1.3.1
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn~=0.34.0
fastapi~=0.115.8
SQLAlchemy~=2.0.38
pydantic~=2.10.6
ggshield~=1.37.0
fastapi_sessions
alembic
psycopg2-binary
python-multipart
pytz
pytest-dotenv